absl-py==0.11.0
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.2.7
astroid==2.4.2
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
autopep8==1.6.0
Babel==2.6.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
bleach==3.3.0
blinker==1.4
CacheControl
cached-property==1.5.2
cachetools==4.2.1
certifi==2019.11.28
cffi==1.14.5
chardet==3.0.4
click==8.0.4
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==2.8
cycler==0.10.0
Cython==0.29.22

decorator==5.0.6
defusedxml==0.7.1
distlib==0.3.4
distro==1.4.0
dj-database-url==0.5.0
Django==3.0.5
django-heroku==0.3.1
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
docutils==0.14
ebaysdk
entrypoints==0.3
fasteners==0.14.1
feedparser==5.2.1
filelock==3.6.0
firebase
firebase-admin==5.1.0
Flask==2.0.3
flatbuffers==1.12
freezegun==0.3.15
future==0.18.2
gast==0.3.3
gcloud==0.17.0
gevent==20.9.0
google-api-core
google-api-python-client==2.33.0
google-auth==1.27.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
google-cloud-core==2.2.1
google-cloud-firestore==2.3.4
google-cloud-storage
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
greenlet==0.4.17
grpcio==1.42.0
grpcio-status==1.42.0
gunicorn==20.1.0
h5py==2.10.0
html2text==2018.1.9
httplib2==0.20.2
idna==2.6
imutils==0.5.4
install==1.3.4
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.7.0
itsdangerous==2.1.0
jedi==0.18.0
Jinja2==3.0.3
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jws==0.1.3
Keras-Preprocessing==1.1.2
keyring==18.0.1

kiwisolver==1.3.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
libsass==0.17.0
lockfile==0.12.2
lxml==4.6.3
macaroonbakery
Mako==1.0.7
Markdown==3.3.3
MarkupSafe==2.1.0
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
msgpack==1.0.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
netifaces==0.10.4
nltk==3.6.2
notebook==6.3.0
num2words==0.5.6
numpy==1.22.2
oauth2client==3.0.0
oauthlib==3.1.0
object-detection==0.0.3
ofxparse==0.19
opencv-contrib-python
opencv-python
opt-einsum==3.3.0
packaging==20.9
pandas==1.4.1
pandocfilters==1.4.3
paramiko==2.6.0
parso==0.8.2
passlib==1.7.1
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2021.5.29
platformdirs==2.5.1
polib==1.1.0
prometheus-client==0.10.0
prompt-toolkit==3.0.18
proto-plus==1.19.8
protobuf
psutil==5.6.6
psycopg2==2.9.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.8.0
pycparser==2.20
pycryptodome==3.4.3
pycups==1.9.73
pydot==1.4.1
Pygments==2.8.1
pyinotify==0.9.6
PyJWT
pylint
pymacaroons
PyNaCl
pyparsing
PyPDF2
Pyrebase
pyRFC3339
pyrsistent
pyserial
python-dateutil
python-jwt
python-ldap
python-stdnum
pytz
pyusb
pyxdg
PyYAML
pyzmq
qrcode
qtconsole
QtPy
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
requests-unixsocket
rsa
scikit-learn
scipy
SecretStorage
Send2Trash
simplejson
six
soupsieve
sqlparse
ssh-import-id

systemd-python
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
threadpoolctl
tld
toml
torch
tornado
tqdm
traitlets
typing-extensions
tzdata
uritemplate
urllib3
virtualenv
virtualenv-clone
vobject
wadllib
wcwidth
webencodings
Werkzeug
whitenoise
widgetsnbextension
wrapt
xlrd
XlsxWriter
zeep
zope.event
zope.interface
